{% extends 'films/base.html' %}
{% load static %}

{% block title%} {{actor.name}} {% endblock title%}

{% block conatainer %}
    <div class="container py-md-3">
{% endblock conatainer %}

{% block sidebar %}
    <div class="side-bar col-lg-4">
{% endblock sidebar %}
{% block film %}
<div class="left-ads-display col-lg-8">
    <div class="row">
        <div class="desc1-left col-md-6">
            <img src="{{ actor.image.url }}" class="img-fluid" alt="">
        </div>
        <div class="desc1-right col-md-6 pl-lg-4">
            <h5 class="editContent">{{ actor.name }}</h5>
            <ul>
                <li>
                    <span><b>Age:</b> {{ actor.age }} лет</span></li>
                <li>
                    <span><b>Film director:</b>
                        {% for film in actor.film_director.all %}
                            <div class="card-body">
                                <a href="{{ film.get_absolute_url }}" class="editContent">
                                    {{film.title}}
                                </a>
                            </div>
                        {% endfor %}
                    </span>
                </li>
                <li><span><b>Actor:</b>
                        {% for film in actor.film_actor.all %}
                        <div class="card-body">
                            <a href="{{ film.get_absolute_url }}" class="editContent">
                                {{film.title}}
                            </a>
                        </div>
                        {% endfor %}
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row sub-para-w3layouts mt-5">

        <h3 class="shop-sing editContent" style="outline: none; cursor: inherit;">
            About {{ actor.name }}
        </h3>

        <p class="editContent" style="outline: none; cursor: inherit;">
            {{ actor.description|safe }}
        </p>
    </div>
</div>
{% endblock film %}