{% extends 'base.html' %}

{% block content %}
<section class="ab-info-main py-md-5 py-4 editContent" style="padding-left: 3rem; padding-right: 3rem;">
    {% block conatainer %}
    <div class="container-fluid py-md-3">
    {% endblock conatainer %}

        <div class="row">

            {% block sidebar %}
            <div class="side-bar col-lg-3">
                {% endblock sidebar %}
                {% include 'include/sidebar.html' %}
            </div>
            {% block film %}

            {% endblock film %}
        </div>
    </div>
</section>
{% endblock content %}